<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-area-disciplina-heading" jhiTranslate="gatewayappestudosApp.appestudosAreaDisciplina.home.createOrEditLabel">Create or edit a Area Disciplina</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayappestudosApp.appestudosAreaDisciplina.geral" for="field_geral">Geral</label>
                    <input type="checkbox" class="form-control" name="geral" id="field_geral"
                           formControlName="geral"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayappestudosApp.appestudosAreaDisciplina.area" for="field_area">Area</label>
                    <select class="form-control" id="field_area" name="area" formControlName="areaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="areaOption.id" *ngFor="let areaOption of areas; trackBy: trackById">{{ areaOption.noma }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayappestudosApp.appestudosAreaDisciplina.disciplina" for="field_disciplina">Disciplina</label>
                    <select class="form-control" id="field_disciplina" name="disciplina" formControlName="disciplinaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="disciplinaOption.id" *ngFor="let disciplinaOption of disciplinas; trackBy: trackById">{{ disciplinaOption.nomeDisciplina }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
