<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayappestudosApp.appestudosAreaDisciplina.home.title">Area Disciplinas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-area-disciplina" [routerLink]="['/area-disciplina/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayappestudosApp.appestudosAreaDisciplina.home.createLabel">
            Create a new Area Disciplina
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="areaDisciplinas?.length === 0">
        <span jhiTranslate="gatewayappestudosApp.appestudosAreaDisciplina.home.notFound">No areaDisciplinas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="areaDisciplinas && areaDisciplinas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="geral"><span jhiTranslate="gatewayappestudosApp.appestudosAreaDisciplina.geral">Geral</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="areaNoma"><span jhiTranslate="gatewayappestudosApp.appestudosAreaDisciplina.area">Area</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="disciplinaNomeDisciplina"><span jhiTranslate="gatewayappestudosApp.appestudosAreaDisciplina.disciplina">Disciplina</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let areaDisciplina of areaDisciplinas ;trackBy: trackId">
                    <td><a [routerLink]="['/area-disciplina', areaDisciplina.id, 'view']">{{ areaDisciplina.id }}</a></td>
                    <td>{{ areaDisciplina.geral }}</td>
                    <td>
                        <div *ngIf="areaDisciplina.areaId">
                            <a [routerLink]="['/area', areaDisciplina.areaId , 'view']" >{{ areaDisciplina.areaNoma }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="areaDisciplina.disciplinaId">
                            <a [routerLink]="['/disciplina', areaDisciplina.disciplinaId , 'view']" >{{ areaDisciplina.disciplinaNomeDisciplina }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/area-disciplina', areaDisciplina.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/area-disciplina', areaDisciplina.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(areaDisciplina)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="areaDisciplinas && areaDisciplinas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
